<%= link_to "New Discount", new_merchant_discount_path %>
<table>
  <tr>
    <th>Min Quantity to Get Discount</th>
    <th>Discount Percentage</th>
    <th>Links</th>
  </tr>
<% @discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    <tr>
      <td><p><%= discount.min_quantity %></p></td>
      <td><p><%= discount.percentage %>%</p></td>
      <td>
        <%= link_to "Edit Discount", edit_merchant_discount_path(discount) %><br/>
        <%= link_to "Delete Discount", merchant_discount_path(discount), method: :delete %>
      </td>
    </tr>
  </section>
<% end %>
</table>
